.orders-detail-area{
	.row{
		margin-bottom:40px;
		
		.card-box{
			.card{
				margin-bottom:10px;
				min-height:170px;
				
				.card-body{
					.card-text{
						p{
							strong{
								margin-right:5px;
							}
						}
						p:last-child{
							margin-bottom:0;
						}
					}
				}
			}
		}
	}
	.item{
		.cart-thumb{
			float: left;
			width: 80px;
			height:80px;
			display: block;
			overflow:hidden;
			border-radius:$border-radius-sm;
			border:1px solid $gray-400;
			margin-right:15px;
			
			.img-fluid{
				position:relative;
				top:50%;
				transform:translateY(-50%);
			}
		}
		.cart-product-detail{
			float:left;
			
			.title{
				display:block;
				font-size:$font-size-base;
				color:$gray-700;
				font-weight:500;
				text-decoration:none;
				margin-bottom:15px;
				
				&:hover{
					color:$red;
				}
			}
			ul{
				padding-left:17px;
				margin-bottom:0;
				
				li{
					font-size:$font-size-base;
					color:$black;
					span{
						display:inline-block;
						margin-left:15px;
						color:$gray-500;
					}
				}
			}
		}
	}
	
	.price, .subtotal{
		span{
			font-size:$font-size-lg;
			font-weight:700;
			color:lighten($gray-700, 15%);
		}
	}
}