/*----------------------------*\
	Menu nav
\*----------------------------*/

.menu-nav .menu-header {
    display: none;
    padding: 15px;
    text-transform: uppercase;
    background: #30323A;
    color: #FFF;
    font-weight: 700;
}

.menu-nav .menu-header>i {
    float: right;
    line-height: 20px;
}

.menu-nav .menu-list>li {
    display: inline-block;
}

.menu-nav .menu-list>li>a {
    display: block;
    padding: 15px;
    color: #FFF;
    text-transform: uppercase;
}

.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
    color: #F8694A;
}
