/* home page background */
.main-wrapper{
    background-image:url("../images/backgrounds/whiter_brick.jpg");
}

/*----------------------------*\
	Menu nav
\*----------------------------*/

.small-logo{
    display: none;
}

.menu-nav .menu-header {
    display: none;
    padding: 15px;
    text-transform: uppercase;
    background: #30323A;
    color: #FFF;
    font-weight: 700;
}

.menu-nav .menu-header>i {
    float: right;
    line-height: 20px;
}

.menu-nav .menu-list>li {
    display: inline-block;
}

.menu-nav .menu-list>li>a {
    display: block;
    padding: 15px;
    color: #FFF;
    text-transform: uppercase;
}

.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
    color: #F8694A;
}

  /* new homepage custom styles */
  .menu-items{
      width:325px;
  }

  .mini-header{
    background-color: #E7E7E7;
}

.adds-header{
    background-color: #cecece;
    border-bottom: 2px solid  #DAA520;
}

.month-products .card{
    border: none;
}

/* additional custom styles */

/* menu area */

.navbar{
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand > img{
    max-width: 240px;
}

.menu-logo-container{
    padding: 20px 0;
}

.menu-items-container{
    width: 80%;
    float: right;
}

.menu-item-icon{
    padding-top:.6rem;
}

.menu-item-label{
    font-size: .65rem;
    letter-spacing: .11em;
    text-transform: uppercase;
    padding-top: .1rem
}

.menu-item-link{
    color:#E0b580;
    text-decoration: none;
}

.menu-item-link:hover{
    color:#E0b580;
    text-decoration: none;
}

.border-left, .border-right {
    border-left: 1px solid #E0b580 !important;
}

.border-right {
    border-right: 1px solid #E0b580 !important;
}

.menu-search-button {
    color: #520c04 !important;
    background-color: #FFF !important;
    border-color: #FFF !important;
}

.menu-item-form-container input[type="text"]{
    border: none;
}

/* mini menu */
.mini-menu-link{
    text-decoration: none;
    text-transform: uppercase;
    color:#a7172a;
    display: block;
    cursor: pointer;
}

.mini-menu-link:hover{
    color:#FFF;
    background-color: #a7172a;
}

/* mini menu mega menu */
.mega-menu{
    overflow: hidden;
}

.mega-menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.mega-menu:hover .mega-menu-content {
    display: block;
}

.icon-menga-menu ul li a{
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #a7172a;
    font-size: 16px;
    border-bottom: 1px solid gray;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear
}

.icon-menga-menu ul li a:hover{
    background: #a7172a;
    color:#fff;
}

.mega-menu-main-link{
    font-weight:bold;
    text-transform:uppercase;
}

.mega-menu-main-link a{
    color:#a7172a;
}

.mega-menu-main-link a:hover{
    color:#a7172a;
    text-decoration: none;
}


/* praise menu */

.praise-link{
    display: block;
    padding: 6px 15px;
    color: #888;
    text-decoration: none;
}

.praise-link:hover{
    background-color: #dcdcdc;
    color: #666;
    text-decoration: none;
}

.praise-link-text{
 line-height: .6;
}

/* body */
/* discover section */

.highlight-title{
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color:#a7172a;
}

.highlight-title:before,
.highlight-title:after {
    border-top: 1px solid #a7172a;
    content: "";
    display: inline-block;
    height: .1em;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-bottom: .15em;
}

.highlight-title:before {
    right: 0.5em;
    margin-left: -50%;
}

.highlight-title:after {
    left: 0.5em;
    margin-right: -50%;
}

.discover-link{
    display: block;
    box-sizing: border-box;
    padding: .5rem;
    text-decoration: none;
    color:#520c04;
}

.discover-link:hover{
    /* background: rgba(86, 20, 19, .1); */
    background: rgba(82,12,4,.2);
    color:#FFF;
    text-decoration: none;
}

.discover-icon{
 color:#520c04;
}

.discover-text{
    color: #520c04;
    font-size: 1.1 rem;
    font-weight: 600;
}

/* products of the month text */

.month-product-title{
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 11.2px;
}

.month-product-link{
    color:inherit;
    text-decoration: none;
}

.month-product-link:hover{
    color:inherit;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

/* trending now section */
.btn-outline-trending {
    color: #FFF;
    background-color: #520c04;
    background-image: none;
    border-color: #520c04;
    text-transform: uppercase;
}

.btn-outline-trending:hover {
    color: #520c04;
    /* background-color: #561413; */
    background-color: #FFF;
    background-image: none;
    border-color: #FFF;
}

/* footer section */

.mail-link{
    color: #fff;
    text-decoration: none;
}

.mail-link:hover{
    color: #e0b580;
    text-decoration: none;
}

.footer-content .single-footer .links-list li a:hover{
    color: #e0b580;
    text-decoration: underline;
}

.footer-content .social-icons li a:hover {
   text-decoration: none;
}

.footer-content {
    background-color: #520c04;
}

/* cart */

.dropdown-cart{
    min-width:340px;
    border-radius: 0;
}

.dropdown-cart .cart-img-thumb{
    width: 70px;
  height: 70px;
  border: 1px solid #ced4da;
  overflow: hidden;
}

.dropdown-menu{
    padding: 1rem 0 0 0;
}

.dropleft .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 4rem;
    margin-right: -4.7rem;
    border:none;
}

.cart-item-color{
    color:#c33149;
}

.delete-cart-product{
    color:#A9A9A9;
    text-decoration: none;
}

.delete-cart-product:hover{
    color:#A9A9A9;
    text-decoration: none;
}

.tt-summary p {
    color: #c33149;
    font-weight: 600;
    font-size: 17px;
}

.dropleft .shopping-cart{
    position:relative;
    top:40px;
}

.po-arrow-up{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FFF;
    position: absolute;
    top:-18px;
    right:10px;
}

/* mobile devices responsiveness */
@media (max-width: 576px) {

    .small-logo{
        display: block;
        text-align: center;
        width: 100%;
    }

    .small-logo a img{
        height: 60px;
    }

    .menu-items-container{
        padding-top:20px;
        width: 90%;
        float:center;
    }
 }
